@import "mixin";

main {
  font-family: "Gothic A1", sans-serif;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    border: none;
  }

  section.left {
    width: 30%;

    border-right: 10px solid #000;
    @media screen and (max-width: 1000px) {
      margin: 0 auto;
      background: none;
      width: 100%;
    }

    div.picture {
      margin-top: 100px;
      text-align: center;
      h2 {
        font-size: 2.5em;
        font-weight: 700;
        @media screen and (max-width: 1000px) {
          font-size: 50px;
        }
      } //h2
      span {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 30px;
      } //span
      figure {
        width: 250px;
        height: 250px;
        border-radius: 50%;

        box-sizing: border-box;
        overflow: hidden;
        margin: 60px auto;
        @media screen and (max-width: 1000px) {
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        } //img
      } //figure
    } //div picture
    div.contact {
      b.title {
        @include title;
        text-align: center;

        @media screen and (max-width: 1000px) {
        }
      } //b.title

      p {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        @media screen and (max-width: 1000px) {
          flex-direction: column;
        }
        b {
          position: relative;
          left: 30px;
          font-size: 1.5em;
          width: 10%;
          &.b1 {
            top: 30px;
          }
          &.b2 {
            top: 25px;
          }
          &.b3 {
            top: 27px;
          }
          @media screen and (max-width: 1000px) {
            position: sticky;
            margin: 10px auto;
          }
        } //b
        em {
          width: 100%;
          font-size: 1em;
          font-style: normal;
          text-align: center;

          @media screen and (max-width: 1000px) {
            font-size: 1em;
            width: 100%;
            margin: 0 auto;
          } //sm
        } //em
      } //p
    } //contact
    div.edu {
      margin-top: 40px;
      b.title {
        @include title;
        margin: 0 auto;
        text-align: center;
      } //b.title
      p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        b.b4 {
          margin: 0 auto;
          font-size: 1.5em;
        } //b4
        em {
          margin-top: 5px;
          font-style: normal;
          width: 100%;
          font-size: 1em;
          text-align: center;

          @media screen and (max-width: 1000px) {
            text-align: center;
            font-size: 1em;
          } //sm
        } //em
      } //p
    } //edu
  } //left
  section.right {
    flex: 1;
    @media screen and (max-width: 1000px) {
      display: block;
    }
    b.skill {
      @include title;
      margin-top: 40px;
      text-align: center;
      @media screen and (max-width: 1000px) {
        margin-top: 20px;
      }
      ul {
        li {
        }
        &.li1 {
        } //li1
        &.li2 {
        } //li2
        &.li3 {
        } //li3
      } //ul
    } //skills
    picture {
      p {
        b {
        }
        img {
          width: 30px;
          height: 30px;
        } //img
      } //p
    } //ficture
  } //right
}
